.mainWrapper {
    max-width: 900px;
    height: 750px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.input_search{
    height: 50px;
    background-color: rgba($color: #fff, $alpha: .5);
    border: none;
    border-radius: 10px;
    color: #fff;
    outline: none;
    width: 100%;
    font-size: 20px;

    &::placeholder{
        color: #fff;
    }
}


.weatherBlock{
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 300px;
    margin: auto;
    height: 500px;
    border-radius: 10px;
    position: relative;
}



.clearSky{
        background-image: url('./../../img/clearsky.png');
        background-size: cover;
    }

.clouds{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url('./../../img/overcastClouds.jpg');
    background-size: cover;
}

.rain{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./../../img/rain1.jpg');
    background-size: cover;
}


.thunderstorm{
    background-image: url('./../../img/thunderstorm.jpg');
    background-size: cover;
}

.snow{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./../../img/snow.jpg');
    background-size: cover;
}

.mist{
    background-image: url('./../../img/mist.jpg');
    background-size: cover;
}



.weather_city{
    font-size: 36px;
    color: #fff;
    margin: 0px;
    padding: 10px;
}



.weather_visualInfo{
    display: flex;
    color: #fff;
    justify-content: space-around;
    width: 200px;
    margin: auto;
    font-size: 25px;

}

.weather_desc {
    text-transform: lowercase;
    &::first-letter{
        text-transform: uppercase;
    }
 }


.weather_info{
    color: #fff;
    font-size: 20px;
}